*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    background-color: white;
    text-rendering: optimizeLegibility;
}
.container{
    max-width: 1200px;
    background-color: 	LightGrey;
}
.row{
    display: flex;
    align-items: flex-start;
}
.col{
  /*  width: 400px; */
  flex: calc(100%/3);
  margin: 20px;
  border: 1px solid rgb(146, 145, 145);
  background-color: white;
  border-radius: 5px;
}
span{
        margin: 10px 0 10px 20px;
        display: inline-block;
        background-color: #1ed781;
        border-radius: 200px;
        padding: 0px 10px;
        color:white;
}
img{
    width: 100%;
}
.content{
    margin: 10px;
}
h6{
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
}
h2{
    color: #1597bb;

}